form {
	margin: 20px auto;
	width: 500px;
	background-color: #f7f7f7;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
  }
  
  tr {
	border-bottom: 1px solid #ccc;
  }
  
  td {
	padding: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
	width: 100%;
	padding: 5px;
	border: none;
	border-radius: 3px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
	padding: 10px 20px;
	background-color: #4CAF50;
	border: none;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
	background-color: #3e8e41;
  }