{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% comment %} {% block css %}
{% endblock %} {% endcomment %}

{% block content %}
<div style="height: 100vh; width: 500px; margin: auto;">
    <br>
    <h1> Change Password</h1>
    <br>
    <form style="border: 1px solid black;" class="container form-group py-3" method="POST" name="change_password" onsubmit="return checkPassword()">
        {% csrf_token %}
        
                <label><em style="font-weight: bold;">Username</em></label>
                <input type="text" class="form-control" name="username" value="{{request.user}}" readonly>
            
            
                <label ><i style="font-weight: bold;">Current Password</i></label>
                <input type="password" class="form-control" name="current_password" placeholder="Current Password">
            

        
                <label ><i style="font-weight: bold;">New Password</i></label>
                <input type="password" class="form-control" name="new_password" placeholder="Enter the new password">
            
                <label ><i style="font-weight: bold;">Confirm Password</i></label>
                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm the new password">
            

        <input type="submit" class="btn btn-outline-primary" value="Update Password">
        
    </form>
</div>
{% endblock content%}

{% block js %}
<script>
    function checkPassword() {
        if (document.change_password.new_password.value != document.change_password.confirm_password.value) {
            alert("New Password and Confirm Password fields does not match each other.");
            document.change_password.confirm_password.focus();
            return false;
        }
        
        return true;
    }

    {% if alert %}
    alert("Password Updated Successfully.");
    document.location = "/signout_page"
    {% endif %}

    {% if currpasswrong %}
    alert("Current Password is wrong..");
    document.location = "/change_password"
    {% endif %}
</script>
{% endblock %}
