
{% load static %}
{%block content%}

<head>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<div>
{% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>
        {% comment %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {% endcomment %}
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  <div class="wrapper">
    <header>Login Form</header>
    <form action="#" method="POST" id="login-form">
      {% csrf_token%}
      <div class="field name">
        <div class="input-area">
          <input type="text" name="username" placeholder="username">
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">name can't be blank</div>
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" name="password" placeholder="Password">
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
        <div class="error error-txt">Password can't be blank</div>
      </div>
      <div class="pass-txt"><a href="{% url 'auth_users:password_reset'%}">Forgot password?</a></div>
      <input type="submit" value="Login">

    </form>
    <div class="sign-txt">Not yet member? <a href="{% url 'auth_users:register' %}">Signup now</a></div>
  </div>

</div>

{%endblock%}